
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
 
    
}
/* ........common style */

.primary-btn-bg{
    background-color: #4E47FF;
    color: #FFFFFF;
     padding: 5px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    border: none;
}
.primary-btn-bg:hover{
  background-color: rgb(104, 174, 204);
  color: black;
  font-size: 25px;
  font-weight: bold;
}

/*navber   */
nav{
 display: flex;
align-items: center;
justify-content:space-between;
max-width: 1140px;
margin: 0 auto;
padding: 10px;

}
nav h1{
  font-size: 40px;
  font-weight: bold;
  color: #4E47FF;
}

/* header part */
.center{
    text-align: center;
     justify-content: center;
    margin-top: 100px;
   padding: 20px; 
   
  
}
.center h2 {
font-size: 50px;
 font-weight: bold;
 color:#252432 ;
 margin-bottom: 20px;
   
}
header{
    background-image: url("../Assets/Hero-bg.png");
  background-size: contain;
}

 /* <!--action section start*** */
 main{
  background-color: #E7EFFF;
 }
 .parent-div{
 display: flex;
 justify-content: space-between;
    margin: 0 35px 0 100px;
    align-items: center;
    max-width: 1140px;
 }
 .positon{
 margin-top: 40px;
 }
 .action-title h3{
font-size: 30px;
font-weight: bold;
margin-bottom: 20px;
color: #252432;
 }
 .action-title p{
font-size: 18px;
color:rgba(37, 36, 50, 0.5) ;
margin-bottom: 20px;
 }
.positon img{
   border-radius: 15px;
}
/* <!-- Joined Thousands of Productive Users */
.users-container{
  margin-top: 100px;
  text-align: center;
    max-width: 1140px;
    height: 180px;
 padding: 20px;
    border-radius: 15px;
    margin: 125px  46px auto;
    background-color: #d5dada;
}
.users-heading{
  font-size: 38px;
  font-weight: bold;
  color:#252432 ;
  margin-bottom: 40px;

}
.items{
  display: flex;
  justify-content:space-evenly;
}
.sub-title p{
  color:#4E47FF;
  font-size: 70px;
  font-weight: bold;
}
.sub-title h6{
  color:rgba(12, 11, 20, 0.5) ;
  font-size: 18px;
  
}
 /* <!-- What our users say --> */
.card-container{
  text-align: center;
    max-width: 1140px;
 padding: 20px;
    border-radius: 15px;
    margin: 125px  46px auto;
    margin-top: 40px;
 
}
.card-container h4{
  font-size: 45px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 40px;
}
.parent-card{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  
}
.card{
  border-radius: 20px;
  width: 380px;
  height: 210px;
  background-color: #d9e1f0;
  
}
.card img{
border-radius: 100%;
margin-top: 10px;

}
.users{
display: flex;
gap: 15px;

}
.card h3{
  margin-top: 10px;
}

.card p{
  margin-top: 20px;
}
 .users img{
margin-left: 20px; 
 }
 
 /* <!-- Ready to focus better --> */

 .focus-container{
  text-align: center;
    max-width: 1140px;
   padding: 20px;
    border-radius: 15px;
    margin: 125px  46px auto;
    margin-bottom: 20px;
    background-color:#FFFFFF ;
 }
 .focus-container h3{
  font-size: 45px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
 }
 .focus-container p{
  font-size: 16px;
  font-weight: bold;
  color:rgba(37, 36, 50, 0.5) ;
  margin-bottom: 15px;
 }
 .focus-banner{
  margin-bottom: 20px;
 }
  img{
border-radius: 25px;
 }

 /* login- form section */
.login-div{
   padding: 130px 230px;
    display: flex;
    gap: 90px;
     max-width: 1140px;
 }
 .login-form input[type="text"],.login-form input[type="email"]{
  height: 60px;
    border-radius:5px;
    background-color: white;
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin: 15px auto;
    border: none;
    
 }
 .login-form{
margin-top : 5px 10px ;
font-weight: bold;
 }
 .getting-info{
width: 50%;
text-align: center;
margin-top: 100px;
 }
 .getting-info h1{
  font-size: 45px;
  font-weight: bold;
 }
 .btn{
  width: 560px;
  margin-top: 20px;

 }
 .btn p{
  padding: 10px ;
  text-align: center;
  margin-bottom: 5px;
 }
 
 /* footer section */

 footer{
  width: 100%;
  background-color:white;
  text-align: center;
  margin-bottom: 10px;

 }
 footer h3{
  font-size: 80px;
  font-weight: bold;
  color:#4E47FF ;
  margin-top: 10px;
 }
 footer p{
  font-size: 18px;
  font-weight: bold;
  color: #8987A1;
  margin-top: 20px;
 }
   
 .manu ul{
display: flex;
gap: 40px;
text-align: center;
align-items: center;
justify-content:center;
 }
 .manu ul li{
 list-style: none;
margin-right: 50px ;
margin-top: 20px;
 font-size: 20px;
     font-weight: bold;
   color: #8987A1; 
}
.manu ul li:hover{
  color:black;

}